.custom-radio {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  border: 2px solid gray;
  background: #fff;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 5px;
}
.real-radio{
    width: 0;
    height: 0;
    position: absolute;
}
.custom-radio::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: blue;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.real-radio:checked + .custom-radio::before{
    display: block;

}